.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
  }
  .gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
  }

  .x {
    position: relative;
    
  }



  body {
    align-self: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  div{
    text-align: center;
  }
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .main-content {
    padding: 10px;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Media query for tablets */
  @media screen and (min-width: 600px) {
    .container {
      max-width: 600px;
    }
  }
  
  /* Media query for small desktops */
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* Media query for medium desktops */
  @media screen and (min-width: 992px) {
    .container {
      max-width: 992px;
    }
  }
  
  /* Media query for large desktops */
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }